<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    android:background="#ffffffff">
    <ScrollView
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/scrollView1">
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="fill_parent"
            android:layout_height="fill_parent"
            android:background="#ffffffff">
            <TextView
                android:text="Тестирование почвы"
                android:textAppearance="?android:attr/textAppearanceLarge"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:id="@+id/textView1"
                android:textColor="#ff000000"
                android:gravity="center"
                android:layout_marginTop="10dp" />
            <Button
                android:text="1-ый способ"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/button1"
                android:layout_marginTop="10dp" />
            <Button
                android:text="2-ой способ "
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/button2" />
            <Button
                android:text="3-ий способ"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/button3" />
            <Button
                android:text="4-ый способ"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/button4" />
            <Button
                android:text="С помощью GPS"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/button5" />
        </LinearLayout>
    </ScrollView>
</LinearLayout>